<h2>Смена пароля</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
  <div class="input-group input-group-sm my-2" style="width: 250px" disabled>
    <div class="input-group-prepend">
      <div class="input-group-text justify-content-center p-0" , style="width: 40px">
        <%= fa_icon "envelope" %>
      </div>
    </div>
    <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "form-control", disabled: true %>
  </div>

  <div class="input-group input-group-sm my-2" style="width: 250px">
    <div class="input-group-prepend">
      <div class="input-group-text justify-content-center p-0" , style="width: 40px">
        <%= fa_icon "key" %>
      </div>
    </div>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Новый пароль", class: "form-control" %>
  </div>
  <p class="text-danger mt-n2"><%= show_errors(@user, :password) %></p>

  <div class="input-group input-group-sm my-2" style="width: 250px">
    <div class="input-group-prepend">
      <div class="input-group-text justify-content-center p-0" , style="width: 40px">
        <%= fa_icon "key" %>
      </div>
    </div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Подтверждение пароля", class: "form-control" %>
  </div>
  <p class="text-danger mt-n2"><%= show_errors(@user, :password_confirmation) %></p>

  <div class="input-group input-group-sm my-2" style="width: 250px">
    <div class="input-group-prepend">
      <div class="input-group-text justify-content-center p-0" , style="width: 40px">
        <%= fa_icon "key" %>
      </div>
    </div>
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Текущий пароль", class: "form-control" %>
  </div>
  <p class="text-danger mt-n2"><%= show_errors(@user, :current_password) %></p>

  <%= f.submit "Изменить пароль", class: "btn btn-secondary btn-sm" %>
<% end %>

<h3 class="mt-2">Удалить аккаунт</h3>

<%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete, class: "btn btn-secondary btn-sm" %>

<%= link_to "Back", :back %>
