<h2>Вход</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="input-group input-group-sm my-2" style="width: 250px">
    <div class="input-group-prepend">
      <div class="input-group-text justify-content-center p-0" , style="width: 40px">
        <%= fa_icon "envelope" %>
      </div>
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
  </div>

  <div class="input-group input-group-sm my-2" style="width: 250px">
    <div class="input-group-prepend">
      <div class="input-group-text justify-content-center p-0" , style="width: 40px">
        <%= fa_icon "key" %>
      </div>
    </div>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Пароль", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="input-group mb-2">
      <%= f.check_box :remember_me, id: "checkbox_remember" %>
      <%= f.label "Запомнить", class: "form-check-label ml-2", for: "checkbox_remember" %>
    </div>
  <% end %>

  <%= f.submit "Войти", class: "btn btn-secondary btn-sm" %>
<% end %>

<div class="my-2">
  <%= render "devise/shared/links", class: "my-2" %>
</div>


